</main>
        
        <footer id="footer" >
            <hr>
            <div class="flexbox">
                <div class="footer-sec flex-i">
                    <ul class="list">
                        <li>
                            <a target="_blank" href="https://www.linkedin.com/in/martin-castro-torán-071334273/"><img class="media-logo" src="images/linkedin.png" alt="linkedin-logo"></a>
                        </li>
                        <li>
                            <a target="_blank" href="https://www.instagram.com/martin_castro_t/"><img class="media-logo" src="images/ig.png"alt="instagram-logo"></a>
                        </li>
                        <li>
                            <a target="_blank" href="https://github.com/MartinCastroToran?tab=repositories"><img class="media-logo" src="images/github.png" alt="github-logo"></a> 
                        </li>
                    </ul>   
                </div>
                <div class="footer-sec flex-i">
                    <ul class="list">
                        <li>
                            <p>Contact me:</p>
                        </li>
                        <li>
                            <p>+54 381-603-2728</p>
                        </li>
                    </ul>
    
    
                </div>
                <div class="footer-end flex-i">
                    <ul class="list">
                        <li>
                            <p>© <%= year %> All right reserved.</p>
                        </li>
                    </ul>
                </div>
            </div>
            
        </footer>

    <script
  src="https://code.jquery.com/jquery-3.7.1.min.js"
  integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
  crossorigin="anonymous"></script>
    <script src="scripts/responsive.js"></script>
    <script src="scripts/edit.js"></script>
    <script src="scripts/delete.js"></script>
</body>
</html>