<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <title>Rebloggin</title>
</head>
<body>
    <nav class="flexbox">
        <div class="flex-i">
            <a href="/"><img class="logo" src="images/logo.png" width="200" alt="logo"></a>
        </div>
        <div class="flex-i">
            <button class="create-btn btn"><a class="link link-c plus" href="/posting"><i class="bi bi-plus"></i></a></button>
        </div>
        <button id="open" class="flex-i hamburguer"><i class="bi bi-list"></i></svg></button>
        <div class="flex-i nav">
            <button id="close" class="close-btn"><i class="bi bi-x"></i></button>
            <ul class="nav-list list">
                <li class="nav-link">
                    <a class="link" href="/">Home</a>
                </li>
                <li class="nav-link list">
                    <a class="link" href="/about">About</a>                    
                </li>
                <li class="nav-link list">
                    <a class="link" href="/contacts">Contacts</a>                    
                </li>
                <li class="nav-link list">
                    <a class="link" href="/my-blogs">My Blogs</a>                    
                </li>
            </ul>
        </div>
    </nav>
    <main>