<%- include("partials/header.ejs") %>

    <section id="presentation">
        <div class="flex-cont">
                <div class="col">
                    <div>
                        <h1 class="title-1">Create your own blog!</h1>
                    </div>
                    <div>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit recusandae nulla deserunt ipsa aperiam distinctio architecto est, blanditiis, eveniet dolores voluptate assumenda debitis reiciendis illum repellendus provident eum nihil neque!</p>
                    </div>
                    <div class="btn-cont">
                        <button class="btn btn-p p"><a class="link link-c" href="">Start Now</a></button>
                        <button class="btn btn-p s"><a class="link link-c" href="">Examples</a></button>
                    </div>
                </div>
                <div class="col">
                    <div class="main-img">
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    <section id="how-work">
        <div class="flex-cont">
            <div class="title-2-cont">
                <h2 class="title-2">How it works?</h2>
            </div>
            <div class="row">
                <div class="img img-1"></div>
                <p>
                    Click on "create" button or on "Start now" button. That buttons will redirect you to the posting page.
                </p>
            </div>
            <div class="row row-reverse">
                <p>
                    Fullfill the form and submit the blog (important don't forget to fill anything and check if the document submited have an image format).
                </p>
                <div class="img img-2"></div>
            </div>
            <div  class="row">
                <div class="img img-3"></div>
                <p>
                    Then, you will be redirected on "My Blogs" page. Here you can click on your blog preview to view all your blog.
                </p>
            </div>
        </div>
    </section>
    <section id="examples">
        <div class="flex-cont">
            <div class="title-2-cont">
                <h2 class="title-2">Latest blogs</h2>   
            </div>
            <div>
                <div class="grid-blogs">
                    <div class="blog-prev blog-prev-1">
                        <a href="\blog-examples\0-breaking-barriers-formula-1-sets-a-new-record-in-the-grand-prix.html">
                                <div>
                                    <img class="blogImg" src="/images/0-6NrOuFCJfqgAsaOIky6WGKCA.jpg" alt="Imagen">
                                </div>
                            <h3 class="blogTitle">Breaking barriers: Formula 1 sets a new record in the grand prix</h3>
                        </a>
                    </div>
                    <div class="blog-prev blog-prev-2">
                        <a href="\blog-examples\1-explorando-el-mundo-más-allá-de-los-destinos-turísticos.html">
                                <div>
                                    <img class="blogImg" src="\images\1-d20a76bc-938c-468b-84ef-47db78078145.jpeg" alt="Imagen">
                                </div>
                            <h3 class="blogTitle">Explorando el mundo más allá de los destinos turísticos</h3>
                        </a>
                    </div>
                    <div class="blog-prev blog-prev-3">
                        <a href="\blog-examples\2-techrevolution-transformando-el-futuro-digital.html">
                                <div>
                                    <img class="blogImg" src="\images\2-229e46cf-14fa-4000-974e-0054ee7f48d3.jpeg" alt="Imagen">
                                </div>
                            <h3 class="blogTitle">Breaking barriers: Formula 1 sets a new record in the grand prix</h3>
                        </a>
                    </div>                                
                </div>
            </div>
        </div>
        
    </section>





<%- include("partials/footer.ejs") %>
